<%- include('./partials/header.ejs', { titlePage: 'Edit event', pageStyle: 'editEvent.css' }) %>

<div class="header">
    <a href="/home">
        <i class="fa-solid fa-arrow-left" style="color: #0c0c0f;"></i>
    </a>
</div>
<div>
    <form id="formEventEdit" data-id="<%= data.id_calendar %>" enctype="multipart/form-data"> <!-- the form sends the data with the event to be edited -->
        <h1>Edit event</h1>
        <div class="form">
            <div class="primary__rows"> <!-- the user enters the title, description and day of the event -->
                <input type="text" id="title" name="title" min="3" max="100" value="<%= data.title %>" placeholder="TITLE"> <!-- the user enters the title of the event -->
                
                <textarea id="description" name="description" cols="50" rows="4" maxlength="100" style="resize: none;" placeholder="DESCRIPTION" value=""><%= data.description %></textarea> <!-- the user enters the description of the event -->
                
                <select name="day" id="day" placeholder="SELECT DAY"> <!-- the user selects the day of the week -->
                    <option disabled selected hidden value="">Week day</option>
                    <% for(let i = 0; i < weekDay.length; i++) { %>
                        <% const day = weekDay[i]; %>
                        <option value="<%- day %>" <%= data.day === day ? 'selected' : '' %>> <!-- the day of the week is displayed in the select -->
                            <%= day %>
                        </option>
                    <% } %>
                </select>
            </div>
            
           <div class="second__rows-column"> <!-- the user enters the location, price, time start, date and image of the event -->
                <div class="precio__block">
                    <input type="text" id="location" max="50" name="location" value="<%= data.location %>" placeholder="LOCATION"> <!-- the user enters the location of the event -->
                    
                    <input type="number" id="price" name="price" value="<%= data.price %>" placeholder="PRICE"> <!-- the user enters the price of the event -->
                </div>

            <div class="columns"> <!-- the user enters the time start and date of the event -->
                    <div class="hora">
                        <div class="horaStart">
                            <label for="time_start">Time start:</label>
                            <input type="time" id="time_start" name="time_start" value="<%= data.time_start %>"> <!-- the user enters the time start of the event -->
                        </div>
                    </div>
                
                <div class="date"> <!-- the user enters the date of the event -->
                     <label for="date">Date:</label>
                     <input type="date" id="date" name="date" value="<%= date_formatted %>">  <!-- the user enters the date of the event -->
                </div>
            </div>

            <div class="image__container"> <!-- the user selects the image of the event -->
                <label >Select new image:</label>
                 <label for="image"><img src="../public/images/<%= data.image %>" id="previewImage" width="250" height="150" style="cursor: pointer;"></label>
                 <input type="file" id="image" class="image" name="image" accept="image/*" style="visibility: hidden;">
            </div>
           </div>
           
            <button type="submit">Edit event</button> <!-- if the user clicks the button, the event is edited -->
        </div>
    </form>
</div>
<script>

document.getElementById('image').addEventListener('change', function (event) {
        let preview = document.getElementById('previewImage');
        let file = event.target.files[0];

        if (file) {
            let reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    });
        const formEventEdit = document.querySelector("#formEventEdit");
    
        formEventEdit.addEventListener('submit', async (e) => {
            e.preventDefault();
            // console.log("data existe:", "<%= data.image %>")
            const id = formEventEdit.dataset.id;
            const title = formEventEdit.querySelector("#title").value;
            const description = formEventEdit.querySelector("#description").value;
            const image = formEventEdit.querySelector("#image").files[0] !== undefined ? formEventEdit.querySelector("#image").files[0] : "<%= data.image %>";
            const day = formEventEdit.querySelector("#day").value;
            const date = formEventEdit.querySelector("#date").value;
            const location = formEventEdit.querySelector("#location").value;
            const price = formEventEdit.querySelector("#price").value;
            const timeStart = formEventEdit.querySelector("#time_start").value;
            
            const formData = new FormData();
            formData.append('id', id);
            formData.append('title', title);
            formData.append('description', description);
            formData.append('image', image);
            formData.append('day', day);
            formData.append('date', date);
            formData.append('location', location);
            formData.append('price', price);
            formData.append('timeStart', timeStart);

            const response = await fetch(`/confirmEditEvent/${id}`, {
                method: 'PUT',
                body: formData
            });

            const result = await response.json();

            if (result.isUpdateRegister) {
                console.log("result.isUpdateRegister is true");
                if (result.redirectTo) {
                    window.location.href = result.redirectTo;
                } else {
                    console.log("No se proporcionó una URL de redirección válida");
                }
            } else {
                console.log("result.isUpdateRegister is false");
                console.log(result);
                window.location.href = '/error';
            }
        })
</script>
<%- include('./partials/footer.ejs') %>