<%- include('./partials/headerStart.ejs') %>
<title>Calendar set</title>
<link rel="stylesheet" type="text/css" media="screen" href="./styles/calendar.css" />
<%- include('./partials/headerEnd.ejs') %>

<p>Schedule</p>

<p><%- positonMonth %></p>

<table border="1">
    <thead>
        <tr>
            <!-- Hour column -->
            <th>Hour</th>
            <% for(let i = 0; i < weekDay.length; i++) {%>
                <th> <%- weekDay[i] %> </th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <!-- Days and classes colummns -->
        <% for (let i = 0; i < hourClassesArray.length; i++) { %>
            <tr>
                <td><%- hourClassesArray[i] %></td>
        
                <% for (let j = 0; j < weekDay.length; j++) { %>
                    <% const classForCell = rowsParse.find(rowParse => rowParse.day === weekDay[j] && parseInt(rowParse.timeStartParse.slice(0, 2)) <= hourClassesArray[i] && parseInt(rowParse.timeFinishParse.slice(0, 2)) >= hourClassesArray[i]) %>
                    
                    <% if (classForCell) { %>
                        <td><%- classForCell.title %></td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    </tbody>
</table>

<% if(rowsParse && rowsParse.length > 0){ %>
    <div class="divClassesDB">
        <% rowsParse.map(rowParse => { %>
            <div class="classesDB">
                <span><%- rowParse.idCalendar %></span>
                <span><%- rowParse.title %></span>
                <span><%- rowParse.day %></span>
                <span><%- rowParse.timeStartParse %> - </span>
                <span><%- rowParse.timeFinishParse %></span>
                <button onclick="editClass('<%- rowParse.idCalendar %>')" class="modal">Edit</button>
                <button onclick="deleteClass('<%- rowParse.idCalendar %>')">Delete</button>

                <div class="dialogContainer">
                    <dialog class="dialog" style="display: none;" id="<%- 'editFields_' + rowParse.idCalendar %>" >
                        <div class="dialogContent">
                            <!-- Campos de edición -->
                            <label for="<%- 'editTitle_' + rowParse.idCalendar %>">Title:</label>
                            <input type="text" id="<%- 'editTitle_' + rowParse.idCalendar %>" name="<%- 'editTitle_' + rowParse.idCalendar %>" value="<%- rowParse.title %>">
                            <label for="<%- 'editTimeStart_' + rowParse.idCalendar %>">Time start:</label>
                            <input type="time" id="<%- 'editTimeStart_' + rowParse.idCalendar %>" name="<%- 'editTimeStart_' + rowParse.idCalendar %>" value="<%- rowParse.timeStartParse %>">
                            <label for="<%- 'editTimeFinish_' + rowParse.idCalendar %>">Time finish:</label>
                            <input type="time" id="<%- 'editTimeFinish_' + rowParse.idCalendar %>" name="<%- 'editTimeFinish_' + rowParse.idCalendar %>" value="<%- rowParse.timeFinishParse %>">
                            <!-- Otros campos de edición... -->
                            <button onclick="confirmEdit('<%- rowParse.idCalendar %>', '<%- rowParse.title %>', '<%- rowParse.timeStartParse %>', '<%- rowParse.timeFinishParse %>')">Save Changes</button>
                            <button class="closeModal">Close</button>
                        </div>
                    </dialog>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>

<button onclick="">Create new class</button>

<script>
    document.querySelectorAll('.modal').forEach(modalButton => {
        const dialog = modalButton.closest('.classesDB').querySelector('.dialog')

        modalButton.addEventListener('click', () => {
            dialog.showModal()
        })

        dialog.querySelector('.closeModal').addEventListener('click', () => {
            // console.log("Modal cerrado")
            dialog.style.display = 'none'
            dialog.close()
        })
    })

    function editClass(idCalendarDB) {
        // console.log("idCalendar:", idCalendarDB)

        const dialog = document.getElementById('editFields_' + idCalendarDB)
        if (dialog) {
            dialog.style.display = 'block'
        }
    }

    function confirmEdit(idCalendarDB, titleDB, timeStartDB, timeFinishDB) {
        const dialog = document.getElementById('editFields_' + idCalendarDB)

        const newTitle = document.getElementById('editTitle_' + idCalendarDB).value
        const newTimeStart = document.getElementById('editTimeStart_' + idCalendarDB).value
        const newTimeFinish = document.getElementById('editTimeFinish_' + idCalendarDB).value

        const port = '<%= process.env.PORT %>'
        const host = '<%= process.env.DB_HOST %>'

        const newData = {}

        if (dialog) {
            dialog.close()
        }

        if (newTitle !== titleDB) {
            newData.newTitle = newTitle
        }
        if (newTimeStart !== timeStartDB) {
            newData.newTimeStart = newTimeStart
        }
        if (newTimeFinish !== timeFinishDB) {
            newData.newTimeFinish = newTimeFinish
        }
        
        if(Object.keys(newData).length > 0) {
            // Realizar la solicitud de fetch con los datos del formulario
            fetch(`http://${host}:${port}/editClass/${idCalendarDB}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    newData
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Cambios confirmados:", data)
                dialog.style.display = 'none'
                dialog.close()
                // console.log(window.location.href)
                location.reload()
            })
            .catch(error => {
                console.log("Error al confirmar cambios:", error)
            })
        } else {
            console.log("Cambia algún dato")
        }
    }

    function deleteClass() {
        
    }

</script>
    

<%- include('./partials/footer.ejs') %>