<%- include('./partials/header.ejs', { titlePage: 'Home' }) %>

<h1>Acostango schedule</h1>

<table border="1">
    <thead>
        <tr>
            <!-- WEEKDAY ROW -->
            <% for(let i = 0; i < weekDay.length; i++) { %>
                <th> <%- weekDay[i] %> </th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% const maxClassesPerRow = 3 %>
        <% const maxClassesPerDay = Math.max(...weekDay.map(day => rowsParse.filter(rowParse => rowParse.day === day).length)) %>

        <% for (let row = 0; row < maxClassesPerDay; row++) { %>
            <tr>
                <% for (let j = 0; j < weekDay.length; j++) { %>
                    <% const classesForCell = rowsParse.filter(rowParse => rowParse.day === weekDay[j]) %>
                    
                    <% const currentClass = classesForCell[row] %>

                    <% if (currentClass) { %>
                        <td>
                            <% if (currentClass.time12hrsFinishFormat !== null) { %>
                                <%- currentClass.workshop === 0 ? `<span>Class: ${currentClass.title} ${currentClass.time12hrsStartFormat}-${currentClass.time12hrsFinishFormat}</span>` : `<span>Workshop: ${currentClass.title} ${currentClass.time12hrsStartFormat}-${currentClass.time12hrsFinishFormat}</span>` %>
                            <% } else { %>
                                <%- `<span>Event: ${currentClass.title} ${currentClass.time12hrsStartFormat}</span>` %>
                            <% } %>
                        </td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    </tbody>
</table>

<% if(rowsParse && rowsParse.length > 0){ %>
    <div class="divClassesDB">
        <% rowsParse.map(rowParse => { %>
            <div class="classesDB <% if (rowParse.workshop) { %> workshop-class <% } %>" id="classCard">
                <%- rowParse.workshop === 0 ? `<span id="classtype">Class: ${rowParse.title}</span>` : rowParse.workshop === 1 ? `<span id="workshoptype">Workshop: ${rowParse.title}</span>` : `<span id="eventType">Event: ${rowParse.title}</span>` %>
                <span><%- rowParse.description %></span>
                <%- rowParse.image !== null ? `<img src="${rowParse.image}" id="eventImage" alt="${rowParse.title}"  />` : '' %>
                <span><%- rowParse.day %></span>
                <%- rowParse.date !== null ? `<span>${rowParse.date}</span>` : '' %>
                <%- rowParse.price !== null ? `<span>${rowParse.price}</span>` : '' %>
                <%- rowParse.location !== null ? `<span>${rowParse.location}</span>` : '' %>
                <%- rowParse.time12hrsFinishFormat !== null
                ?
                    `<span>${rowParse.time12hrsStartFormat} - ${rowParse.time12hrsFinishFormat}</span>`
                :
                    `<span>${rowParse.time12hrsStartFormat}</span>`
                %>
                
                <% if (rowParse.category === 'class') { %>
                    <a href="/editClass/<%= rowParse.idCalendar %>" id="classedit">Edit</a>
                <% } else if (rowParse.category === 'event') { %>
                    <a href="/editEvent/<%= rowParse.idCalendar %>" id="classedit">Edit</a>
                <% } %>
                <button onclick="showHide(true, 'confirmationDeleteDiv_<%- rowParse.idCalendar %>')" class="deleteButton">Delete</button>

                <div class="dialogContainer">
                    <!-- Delete class dialog -->
                    <dialog id="confirmationDeleteDiv_<%- rowParse.idCalendar %>" class="dialog" style="display: none;">
                        <% if (rowParse.category === 'class') { %>
                            <p>Delete this class?</p>
                        <% } else if (rowParse.category === 'event') { %>
                            <p>Delete this event?</p>
                        <% } %>
                        <div>
                            <button id="deleteConfirmYes" onclick="deleteClass('<%- rowParse.idCalendar %>'), showHide(false, '<%- rowParse.idCalendar %>')">Yes</button>
                        </div>
                        <div>
                            <button id="deleteConfirmNo" onclick="showHide(false, 'confirmationDeleteDiv_<%- rowParse.idCalendar %>')">No</button>
                        </div>
                    </dialog>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>
<div class="createButtons">
<a href="/createClass" id="newClass">New Class</a>
<a href="/createEvent" id="newEvent">New Event</a>
</div>

<script src="./scripts/index.js"></script>

<%- include('./partials/footer.ejs') %>