<%- include('./partials/headerStart.ejs', { titlePage: 'Home' }) %>

<p>Schedule</p>

<table border="1">
    <thead>
        <tr>
            <!-- WEEKDAY ROW -->
            <% for(let i = 0; i < weekDay.length; i++) { %>
                <th> <%- weekDay[i] %> </th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% const maxClassesPerRow = 3 %>

        <% for (let row = 0; row < maxClassesPerRow; row++) { %>
            <tr>
                <% for (let j = 0; j < weekDay.length; j++) { %>
                    <% const classesForCell = rowsParse.filter(rowParse => rowParse.day === weekDay[j]) %>
                    <% console.log("console.log():", rowsParse) %>
                    <% if (classesForCell.length > 0) { %>
                        <% const currentClassIndex = row + (maxClassesPerRow * j) % classesForCell.length %>
                        <% const currentClass = classesForCell[currentClassIndex] %>
                        

                        <td>
                            <% if (currentClass) { %>
                                <% if (currentClass.workshop === 1) { %>
                                    <div style="background-color: #f00;">
                                <% } %>
                                <%- currentClass.title %> <%- currentClass.time12hrsStartFormat %>-<%- currentClass.time12hrsFinishFormat %>
                                <% if (currentClass.workshop === 1) { %>
                                    </div>
                                <% } %>
                            <% } %>
                        </td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    </tbody>
</table>

<% if(rowsParse && rowsParse.length > 0){ %>
    <div class="divClassesDB">
        <% rowsParse.map(rowParse => { %>
            <div class="classesDB <% if (rowParse.workshop) { %> workshop-class <% } %>">
                <span><%- rowParse.idCalendar %></span>
                <span><%- rowParse.title %></span>
                <span><%- rowParse.day %></span>
                <span><%- rowParse.description %></span>
                <span><%- rowParse.date %></span>
                <span><%- rowParse.price %></span>
                <img src="<%- rowParse.image %>" alt="imagenCar" height="200" width="200" />
                <span><% rowParse.image %></span>
                <span><%- rowParse.time12hrsStartFormat %> - </span>
                <span><%- rowParse.time12hrsFinishFormat %></span>
                <button onclick="editClass('<%- rowParse.idCalendar %>')" class="modal">Edit</button>
                <button onclick="showHide(true, '<%- rowParse.idCalendar %>')" class="deleteButton">Delete</button>

                <div class="dialogContainer">
                    <!-- Delete class dialog -->
                    <dialog id="confirmationDeleteDiv_<%- rowParse.idCalendar %>" class="dialog" style="display: none;">
                        <p>Delete this class?</p>
                        <div>
                            <button id="deleteConfirmYes" onclick="deleteClass('<%- rowParse.idCalendar %>'), showHide(false, '<%- rowParse.idCalendar %>')">Yes</button>
                        </div>
                        <div>
                            <button id="deleteConfirmNo" onclick="showHide(false, '<%- rowParse.idCalendar %>')">No</button>
                        </div>
                    </dialog>

                    <!-- Delete class dialog -->
                    <dialog class="dialog" style="display: none;" id="<%- 'editFields_' + rowParse.idCalendar %>" >
                        <form id="editForm_<%- rowParse.idCalendar %>" onsubmit="confirmEdit('<%- rowParse.idCalendar %>', '<%- rowParse.title %>', '<%- rowParse.description %>' ,'<%- rowParse.timeStartParse %>', '<%- rowParse.timeFinishParse %>')">
                            <div class="dialogContent">
                                <!-- Campos de edición -->
                                <label for="<%- 'editTitle_' + rowParse.idCalendar %>">Title:</label>
                                <input type="text" id="<%- 'editTitle_' + rowParse.idCalendar %>" name="<%- 'editTitle_' + rowParse.idCalendar %>" value="<%- rowParse.title %>">
                                
                                <label for="<%- 'editDescription_' + rowParse.idCalendar %>">Description:</label>
                                <textarea cols="50" rows="4" style="resize: none;" id="<%- 'editDescription_' + rowParse.idCalendar %>" name="<%- 'editDescription_' + rowParse.idCalendar %>" value="<%- rowParse.description %>"><%- rowParse.description %></textarea>
                                
                                <label for="<%- 'editTimeStart_' + rowParse.idCalendar %>">Time start:</label>
                                <input type="time" id="<%- 'editTimeStart_' + rowParse.idCalendar %>" name="<%- 'editTimeStart_' + rowParse.idCalendar %>" value="<%- rowParse.timeStartParse %>">
                                
                                <label for="<%- 'editTimeFinish_' + rowParse.idCalendar %>">Time finish:</label>
                                <input type="time" id="<%- 'editTimeFinish_' + rowParse.idCalendar %>" name="<%- 'editTimeFinish_' + rowParse.idCalendar %>" value="<%- rowParse.timeFinishParse %>">
                                
                                <!-- Otros campos de edición... -->
                                <button type="submit">Save Changes</button>
                                <button type="button" class="closeModal" onclick="hideModal('editFields_<%- rowParse.idCalendar %>', '<%- rowParse.idCalendar %>','<%- rowParse.title %>')">Close</button>
                            </div>
                        </form>
                    </dialog>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>

<a href="/createClass">New Class</a>

<script src="./scripts/index.js"></script>

<%- include('./partials/footer.ejs') %>